\**\*
*~
*.*
/*/*

# The following for extra safety:
# datasets can be too large to be pushed
# can become a nightmare to remove from history
# if accidentally committed
/datasets/*

!.gitignore
!README.md
!/datasets/appointments-*tiny.csv
!/datasets/centers.csv
!/images/*.png
!/python/*.py
!/notebooks/*.ipynb
